/* Universal styles */

* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

html {
    font-size: 16px;
}

body {
    max-width: 1200px;
    width: 90%;
    background-image: url(./images/sl_032421_41660_19.jpg);
    background-color: ghostwhite;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-size: 4rem;
    color: hsla(232.89,62.3%,47.84%,1);
    grid-row-start: 1;
    grid-row-end: 1;
}

.synopsis {
    position: relative;
    bottom: 1290px;
    left: 100px;
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 1rem;
}

.h1-line {
    position: relative;
    border: 1px solid hsla(227.32,100%,75.88%,1);
    height: 3px;
    background-color: hsla(227.32,100%,75.88%,1);
    width: 375px;
    border-radius: 10px;
    bottom: 1270px;
    right: 500px;

}

main {
    display: grid;
    width: 1000px;
    height: 1500px;
    grid-template: 1fr 3fr 1fr 1fr / 3fr 2fr;
}

/* Nav section */


nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    border-bottom: 3px solid hsla(227.69,100%,30.59%,1);
}

nav ul {
    display: flex;
    margin-right: 0;
}
/* color value hsla(241, 100%, 72%, 1) from https://fffuel.co/cccolor/ */
nav li {
    list-style: none;
    padding-left: 2rem;
    font-size: 1.5rem;
}

nav a {
    text-decoration: none;
    color: hsla(250.59,50.72%,57.84%,1);
}


/* Portrait section */

#portrait {
    width: 50%;
    border-radius: 90%;
    position: relative;
    top: 20px;
    grid-row-start: 1;
    grid-row-end: 1;
}

/* About Me section */
.about-me {
    width: 80%;
    grid-row: 2 / 4;
    position: relative;
    bottom: 210px;
    right: 10px;
}

.about-me-title {
    color: hsla(334.84,74.16%,59.02%,1)
}


/* Poem section */
 .poem {
    width: 90%;
    margin-top: 40px;
    text-align: center;
    grid-row: 2 / 4;
 }

 .poem-title {
    font-size: 1.2rem;
    text-decoration: underline;
 }

 .poem-author {
    text-align: right;
    font-size: 0.7rem;
 }

 .poem-text {
    font-family: 'Lora', serif;
    font-style: italic;
 }

/* Line */

.line {
    border: 5px solid hsla(227.32,100%,75.88%,1);
    height: 10px;
    background-color: hsla(227.32,100%,75.88%,1);
    width: 700px;
    grid-column: 1 / span 2;
    position: relative;
    bottom: 750px;
    border-radius: 10px;
}

/* Projects section */

.project {
    grid-column: 1 / span 2;
    width: 900px;
    position: relative;
    bottom: 340px;
    grid-row-start: 4;
    grid-row-end: 4;
}

.project ul {
    list-style-type: none;
    padding-top: 10px;
}

.project a {
    text-decoration: none;
}

.title {
    color: hsla(255.54,87.42%,68.82%,1);
}


/* Skills section */

.skill-container {
    display: flex;
}

.skill {
    grid-column: 1 / span 2;
    width: 900px;
    position: relative;
    bottom: 50px;
    grid-row-start: 5;
    grid-row-end: 5;
}

.skill ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
}

.icon {
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.html5 {
    background-image: url(./images/icons8-html5-48.png);
}

.css {
    background-image: url(./images/icons8-css-48.png);
}

.javascript {
    background-image: url(./images/icons8-javascript-48.png);
}

.nodejs {
    background-image: url(./images/icons8-node-js-48.png);
}

.github {
    background-image: url(./images/icons8-github-50.png);
}

.word {
    background-image: url(./images/icons8-word-48.png);
}

.excel{
    background-image: url(./images/icons8-excel-48.png);
}

.powerpoint {
    background-image: url(./images/icons8-powerpoint-48.png);
}

/* Contact section from contact page */

.contact-main {
    height: 500px;
}

.contact-title {
    grid-row-start: 2;
    grid-row-end: 3;
    color: hsla(255.54,87.42%,68.82%,1);
    position: relative;
    bottom: 100px;
    text-decoration: underline;
}

.contact-list {
    position: relative;
    bottom: 150px;
}

.contact-list li {
    padding-top: 20px;
}

#copyright {
    position: relative;
    right: 700px;
    top: 50px;
}


/*Responsive design*/

@media only screen and (max-width: 480px) {
    
}


@media only screen and (max-width: 768px) {
    
}