/* Universal styles */

* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    // border: 1px red solid;
}

html {
    background-color: ghostwhite;
    font-size: 16px;
}

body {
    max-width: 1200px;
    width: 90%;
}

h1 {
    font-size: 4rem;
    color: hsla(232.89,62.3%,47.84%,1);
    grid-row-start: 1;
    grid-row-end: 1;
}

.h1-line {
    position: relative;
    border: 1px solid hsla(227.32,100%,75.88%,1);
    height: 3px;
    background-color: hsla(227.32,100%,75.88%,1);
    width: 375px;
    border-radius: 10px;
    bottom: 1300px;

}

main {
    display: grid;
    width: 1000px;
    height: 1500px;
    grid-template: 1fr 3fr 1fr 1fr / 3fr 2fr;
}

/* Nav section */


nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    border-bottom: 3px solid hsla(227.69,100%,30.59%,1);
}

nav ul {
    display: flex;
    margin-right: 0;
}

nav li {
    list-style: none;
    padding-left: 2rem;
    font-size: 1.5rem;
}

nav a {
    text-decoration: none;
    color: black;
}


/* Portrait section */

#portrait {
    width: 50%;
    border-radius: 90%;
    position: relative;
    right: 30px;
    top: 20px;
    grid-row-start: 1;
    grid-row-end: 1;
}

/* About Me section */
.about-me {
    width: 90%;
    grid-row: 2 / 4;
    position: relative;
    bottom: 160px;
}

.about-me-title {
    color: hsla(334.84,74.16%,59.02%,1)
}


/* Poem section */
 .poem {
    width: 90%;
    margin-top: 40px;
    text-align: center;
    grid-row: 2 / 4;
 }

 .poem-title {
    font-size: 1.2rem;
    text-decoration: underline;
 }

 .poem-author {
    text-align: right;
    font-size: 0.7rem;
 }

 .poem-text {
    font-family: 'Lora', serif;
    font-style: italic;
 }

/* Line */

.line {
    border: 5px solid hsla(227.32,100%,75.88%,1);
    height: 10px;
    background-color: hsla(227.32,100%,75.88%,1);
    width: 700px;
    grid-column: 1 / span 2;
    position: relative;
    bottom: 700px;
    border-radius: 10px;
}

/* Projects section */

.project {
    grid-column: 1 / span 2;
    width: 900px;
    position: relative;
    bottom: 200px;
    grid-row-start: 4;
    grid-row-end: 4;
}
/* Skills section */

.skill-container {
    display: flex;
}

.skill {
    grid-column: 1 / span 2;
    width: 900px;
    position: relative;
    bottom: 200px;
    grid-row-start: 5;
    grid-row-end: 5;
}


/* Contact section */
 .contact {
    position: relative;
    bottom: 200px;
 }


/*Responsive design*/

@media only screen and (max-width: 480px) {
    
}


@media only screen and (max-width: 768px) {
    
}