/* Universal styles */

* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

html {
    font-size: 16px;
}

body {
    max-width: 1200px;
    background-image: url(./images/sl_032421_41660_19.jpg);
    background-color: ghostwhite;
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    width: 90%;
    display: grid;
    grid-template: 2fr 5fr / 3fr 2fr;
}


/* Nav section */


nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    border-bottom: 3px solid hsla(227.69,100%,30.59%,1);
}

nav ul {
    display: flex;
    margin-right: 0;
}
/* color value hsla(241, 100%, 72%, 1) from https://fffuel.co/cccolor/ */
nav li {
    list-style: none;
    padding-left: 2rem;
    font-size: 1.5rem;
}

nav a {
    text-decoration: none;
    color: hsla(250.59,50.72%,57.84%,1);
}



/* Intro section */

.intro {
    position:relative;
    top: 75px;
}

.intro h1 {
    font-size: 4rem;
    color: hsla(232.89,62.3%,47.84%,1);
}

.intro aside {
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 1rem;
    text-align: right;
}

.intro hr {
    border: 1px solid hsla(227.32,100%,75.88%,1);
    height: 3px;
    background-color: hsla(227.32,100%,75.88%,1);
    border-radius: 10px;
}



/* Portrait section */

.portrait img{
    width: 150%;
    border-radius: 90%;
    position: relative;
    top: 50px;
    right: 25px;
}



/* About Me section */
.about-me {
    width: 80%;
    text-align: center;
    min-width: 100px;
    max-width: 600px;
    position: relative;
    bottom: 20px;

}

.about-me h2 {
    color: hsla(334.84,74.16%,59.02%,1);
    margin-bottom: 10px;
}

.about-me p {
    min-width: 300px;
}


/* Poem section */
 .poem {
    width: 90%;
    text-align: center;
    min-width: 300px;

 }

 .poem h4 {
    font-size: 1.2rem;
    text-decoration: underline;
 }

 .poem h5 {
    text-align: right;
    font-size: 0.7rem;
 }

 .poem p {
    font-family: 'Lora', serif;
    font-style: italic;
 }



/* Line */

.line {
    width: 60%;

}

.line hr{
    border: 5px solid hsla(227.32,100%,75.88%,1);
    height: 10px;
    background-color: hsla(227.32,100%,75.88%,1);
    margin-top: 10px;
    border-radius: 10px;
}



/* Projects section */

.project {
    width: 90%;
    position: relative;
    margin-top: 50px;
}

.project ul {
    list-style-type: none;
    padding-top: 10px;
}

.project a {
    text-decoration: none;
}

.project h2 {
    color: hsla(255.54,87.42%,68.82%,1);
    display: flex;
}

.project li {
    font-size: 20px;
}



/* Skills section */

.skill {
    position: relative;
    margin-top: 100px;
    width: 90%;
}

.skill ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
}

.skill h2 {
    color: hsla(255.54,87.42%,68.82%,1);
}

.icon {
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.html5 {
    background-image: url(./images/icons8-html5-48.png);
}

.css {
    background-image: url(./images/icons8-css-48.png);
}

.javascript {
    background-image: url(./images/icons8-javascript-48.png);
}

.nodejs {
    background-image: url(./images/icons8-node-js-48.png);
}

.github {
    background-image: url(./images/icons8-github-50.png);
}

.word {
    background-image: url(./images/icons8-word-48.png);
}

.excel{
    background-image: url(./images/icons8-excel-48.png);
}

.powerpoint {
    background-image: url(./images/icons8-powerpoint-48.png);
}



/* Footer section */

.footer {
    margin-top: 30px;
}



/* Contact section from contact page */

.contact {
    width: 90%;
    display: grid;
    grid-template: 1fr 2fr / 3fr 2fr;
}

.contact h1 {
    font-size: 4rem;
    color: hsla(232.89,62.3%,47.84%,1);
}

.contact aside {
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 1rem;
    text-align: right;
}

.contact hr {
    border: 1px solid hsla(227.32,100%,75.88%,1);
    height: 3px;
    background-color: hsla(227.32,100%,75.88%,1);
    border-radius: 10px;
}

.contact img {
    width: 50%;
    border-radius: 90%;
    position: relative;
    top: 50px;
}

.contact h2 {
    color: hsla(255.54,87.42%,68.82%,1);
    position: relative;
    text-decoration: underline;
}

.contact-details {
    position: relative;
    bottom: 150px;
}

.contact li {
    padding-top: 20px;
}

/*Responsive design*/

@media only screen and (max-width: 850px) {
    main {
        grid-template: 0.5fr 0.5fr 2fr 1.5fr/ 1fr;
    }
    
    .intro h1{
        font-size: 3rem;
    }
    .intro {
        top: 0px;
    }
    .poem {

    }
    .portrait img {
        top: 0px;
        margin-bottom: 20px;
    }
    .contact {
        grid-template: 1fr 1fr 1fr/ 1fr;
    }
    .contact h1 {
        font-size: 3rem;
    }
    .contact img {
        width: 30%;
        top: 0px
    }
    .contact-details {
        bottom: 0px;
    }

}

@media only screen and (max-width: 650px) {
    .about-me {
        bottom: 0px;
    }
}

